@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Mallory Moody Professor Hilton Section 004
    This is a program for Prof Hilton's brother to add movies thru a form
    and to connect to the podcast page-->

<!--this is the home page-->

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <img src="img/JoelHilton.jpg" />
</div>
<br />
<a asp-action="Movies">Click here to add a movie!</a>