@{
    ViewData["Title"] = "My Podcasts";
}

<!--this is the podcast page-->

<h1>@ViewData["Title"]</h1>

<p>Podcasts Page</p>

<div>Click <a href="https://baconsale.com/">here</a> to check out our podcasts!</div>